---
import thinking from "@assets/index/thinking.webp";
import { Image } from "astro:assets";
import ArrowIconSmall from "@components/Icons/ArrowIconSmall.astro";
---

<div
    class:list={[
        "px-default custom-container flex min-h-screen items-center overflow-x-hidden",
        "py-20 ",
        "xl:overflow-visible"
    ]}
>
    <div class:list={["flex flex-col gap-6", "lg:flex-row-reverse"]}>
        <div class:list={["order-2 lg:order-1 lg:ml-auto lg:max-w-[50%]"]}>
            <div class="text-paragraph__normal uppercase">What do i do?</div>
            <div
                class:list={[
                    "my-10 font-olympic",
                    "text-3xl leading-normal",
                    "sm:text-4xl sm:leading-normal",
                    "xl:text-5xl xl:leading-normal"
                ]}
            >
                <div class="mb-10">
                    I founded Pikne studio to craft branding, art direction and illustration based on psychological
                    knowledge.
                </div>
                <div>
                    Through visual storytelling and empathy-driven design, I help your mission reach those who care
                    about it.
                </div>
            </div>
            <a role="button" data-contact-button class="btn-primary" href="#contact">
                Contact me
                <ArrowIconSmall class="ml-2 inline-block w-[16px] fill-ruby-red align-text-top" />
            </a>
        </div>
        <Image
            src={thinking}
            width={700}
            height={700}
            alt="a portrait of Aleksandra Pekala on a red background, with an animated star-shaped element moving behind her"
            class:list={[
                "order-1 scale-x-[-1] object-contain",
                "mt-2 w-full max-w-[420px] self-center ",
                "lg:order-2 lg:mt-0 lg:self-end",
                "xl:w-1/2 xl:max-w-[620px]"
            ]}
            loading="eager"
        />
    </div>
</div>
