---
import aleksandraThinking from "@assets/index/thinking.png";
import aleksandraConfetti from "@assets/index/confetti.png";
import { Image } from "astro:assets";
import ArrowIconSmall from "@components/Icons/ArrowIconSmall.astro";
---

<div
    class:list={[
        "flex min-h-screen items-center overflow-x-hidden bg-blue-100",
        "py-20 ",
        "px-6",
        "md:px-14",
        "xl:overflow-visible"
    ]}
>
    <div class:list={["relative"]}>
        <div class:list={["relative z-20", "xl:ml-auto xl:max-w-[50%]"]}>
            <div class="text-paragraph__normal">What do i do</div>
            <div class="text-header__2 my-10">
                <div class="mb-10">
                    I craft branding, art direction and illustration based on psychological knowledge.
                </div>
                <div>
                    Through visual storytelling and empathy-driven design, I help your mission reach those who care
                    about it.
                </div>
            </div>
            <a role="button" data-contact-button class="btn-primary" href="#contact">
                Contact me
                <ArrowIconSmall class="ml-2 inline-block w-[16px] fill-ruby-red align-text-top" />
            </a>
        </div>
        <div class:list={["mt-[65vw] children:transition-opacity md:mt-[550px] md:flex md:justify-end", "xl:mt-0"]}>
            <Image
                src={aleksandraThinking}
                alt="me squatting and thinking, red doodles around me"
                class:list={[
                    "absolute bottom-0 z-10",
                    "scale-x-[-1]",
                    "md:max-w-[800px]",
                    "xl:left-0 xl:w-[60%] xl:max-w-[1000px] xl:scale-x-100 xl:object-contain"
                ]}
                loading="eager"
                data-default-image
            />

            <Image
                src={aleksandraConfetti}
                alt="me exited with arms raised and a big smile, throwing confetti"
                class:list={[
                    "opacity-0",
                    "absolute bottom-0 z-10",
                    "scale-x-[-1]",
                    "md:max-w-[800px]",
                    "xl:left-0 xl:w-[60%] xl:max-w-[1000px] xl:scale-x-100 xl:object-contain"
                ]}
                loading="lazy"
                data-hidden-image
            />
        </div>
    </div>
</div>

<script>
    const defaultImage = document.querySelector("[data-default-image]") as HTMLImageElement;
    const hiddenImage = document.querySelector("[data-hidden-image]") as HTMLImageElement;
    const contactButton = document.querySelector("[data-contact-button]") as HTMLAnchorElement;

    // show animation and then scroll to the href
    contactButton.addEventListener("click", (e: MouseEvent) => {
        e.preventDefault();

        hiddenImage.classList.remove("opacity-0");
        defaultImage.classList.add("opacity-0");

        const href = contactButton.getAttribute("href") ?? "#contact";

        setTimeout(function () {
            window.location.href = href;
        }, 500);

        setTimeout(function () {
            hiddenImage.classList.add("opacity-0");
            defaultImage.classList.remove("opacity-0");
        }, 700);
    });
</script>
