---
import aleksandraThinking from "@assets/index/thinking.png";
import aleksandraConfetti from "@assets/index/confetti.png";
import smallArrow from "@assets/small-arrow.svg";
import Image from "astro/components/Image.astro";
---

<div
    class:list={[
        "min-h-screen  flex overflow-x-hidden bg-blue-100 items-center",
        "py-20 ",
        "px-6",
        "md:px-14",
        "lg:overflow-visible"
    ]}
>
    <div class:list={["relative"]} class="">
        <div class:list={["relative z-20", "lg:ml-auto lg:max-w-[50%]"]}>
            <div class="text-paragraph__normal">What do i do</div>
            <div class="text-header__2 my-10">
                <div class="mb-10">
                    I craft branding, art direction and illustration based on psychological knowledge.
                </div>
                <div>
                    Through visual storytelling and empathy-driven design, I help your mission reach those who care
                    about it.
                </div>
            </div>
            <a role="button" data-contact-button class="btn-primary" href="#contact">
                Contact me
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="17"
                    viewBox="0 0 16 17"
                    class="inline-block ml-2 fill-ruby-red"
                >
                    <path
                        d="M7.29289 16.7071C7.68342 17.0976 8.31658 17.0976 8.70711 16.7071L15.0711 10.3431C15.4616 9.95262 15.4616 9.31946 15.0711 8.92893C14.6805 8.53841 14.0474 8.53841 13.6569 8.92893L8 14.5858L2.34315 8.92893C1.95262 8.53841 1.31946 8.53841 0.928932 8.92893C0.538407 9.31946 0.538407 9.95262 0.928932 10.3431L7.29289 16.7071ZM7 -4.37114e-08L7 16L9 16L9 4.37114e-08L7 -4.37114e-08Z"
                    ></path>
                </svg>
            </a>
        </div>
        <div class:list={["mt-[60vw] ", "lg:mt-0"]}>
            <Image
                src={aleksandraThinking}
                alt="me squatting and thinking, red doodles around me"
                class:list={[
                    "absolute bottom-0 translate-x-[5%] z-10",
                    "lg:translate-x-0 lg:object-contain lg:left-0 lg:max-w-[1000px] lg:w-[60%] "
                ]}
                loading="eager"
                quality="min"
                data-default-image
            />

            <Image
                src={aleksandraConfetti}
                alt="me exited with arms raised and a big smile, throwing confetti"
                class:list={[
                    "hidden",
                    "absolute bottom-0 translate-x-[5%] z-10",
                    "lg:translate-x-0 lg:object-contain lg:left-0 lg:max-w-[1000px] lg:w-[60%] "
                ]}
                loading="lazy"
                quality="min"
                data-hidden-image
            />
        </div>
    </div>
</div>

<script>
    const defaultImage = document.querySelector("[data-default-image]") as HTMLImageElement;
    const hiddenImage = document.querySelector("[data-hidden-image]") as HTMLImageElement;
    const contactButton = document.querySelector("[data-contact-button]") as HTMLImageElement;

    contactButton.addEventListener("mouseenter", (e) => {
        hiddenImage.classList.toggle("hidden", false);
        defaultImage.classList.toggle("hidden", true);
    });

    contactButton.addEventListener("mouseleave", (e) => {
        hiddenImage.classList.toggle("hidden", true);
        defaultImage.classList.toggle("hidden", false);
    });
</script>
