---
import ArrowIcon from "@components/Icons/ArrowIcon.astro";

interface Props {
    class: string;
    title: string;
    year: string;
}

const { class: classList, title, year } = Astro.props;
---

<div class:list={["min-h-screen items-center flex py-20", "px-6", "md:px-14", classList]}>
    <div>
        <div class:list={["flex gap-14", "flex-col", "lg:flex-row-reverse"]}>
            <div
                class:list={["bg-purple-900 aspect-square", "w-[325px] self-center", "md:w-[682px]", "lg:lg:basis-1/2"]}
            >
            </div>
            <div class:list={["lg:basis-1/2 flex flex-col"]}>
                <div>
                    <div class="text-header__2">
                        <span>{title}</span>
                        <sup class="text-paragraph__normal align-top">({year})</sup>
                    </div>
                    <div class="text-paragraph__normal">
                        <slot name="services" />
                    </div>
                </div>
                <p class:list={["text-paragraph__normal mt-12 mb-16", "md:flex-grow"]}>
                    <slot name="description" />
                </p>
                <a
                    href="#"
                    class="font-olympic text-[2rem] -tracking-[0.04rem] font-light max-w-fit sm:text-[3.375rem] sm:-tracking-[0.0675rem]"
                >
                    see more
                    <ArrowIcon
                        class="fill-dark-chocolate inline-block align-baseline ml-1 h-[20px] w-[20px] sm:h-[32px] sm:w-[32px] sm:ml-2"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
