---
import ScrollIndicator from "@components/ScrollIndicator.astro";
---

<div class="mt-36 h-screen text-center uppercase">
    <div class="text-paragraph__normal">Aleksandra Pekala is good at</div>
    <div class="mt-5 font-olympic text-[clamp(50px,11vw,425px)] leading-[1.1em]">
        translating <span class="normal-case">feelings</span> to visuals
    </div>
    <ScrollIndicator />
</div>
