---
import { Image } from "astro:assets";
import heart from "@assets/heart.svg";
---

<div class="flex h-full">
    <div class="js-gradient-scroll__wrapper relative h-full w-6 bg-gradient-brand">
        <Image
            class="js-gradient-scroll__image absolute max-w-none -translate-x-[25%]"
            src={heart}
            alt="heart symbol"
            width="50"
            height="50"
        />
    </div>
</div>

<script>
    import { scroll, animate } from "motion";

    const gradientScrollWrapper = document.querySelector(".js-gradient-scroll__wrapper") as HTMLElement;
    const gradientScrollImage = document.querySelector(".js-gradient-scroll__image") as HTMLElement;

    scroll(
        ({ y }) => {
            const middleOfHeartHeight = gradientScrollImage.clientHeight / 2;
            const middleOfHeartWidth = gradientScrollImage.clientWidth / 2;

            const progressToPxMapped = y.progress * (gradientScrollWrapper.clientHeight - middleOfHeartHeight);

            animate(
                gradientScrollImage,
                { transform: [`translate(-${middleOfHeartWidth}%, ${progressToPxMapped}px)`] },
                { duration: 0.7, easing: "ease-out" }
            );
        },
        { target: gradientScrollWrapper, offset: ["-150px start", "end center"] }
    );
</script>
