---
import ImageWithLoading, { type ImageWithLoadingType } from "@components/ImageWithLoading.astro";

type Props = Omit<ImageWithLoadingType, "classImage">;

const { src, srcLoading, alt, width, class: className } = Astro.props;
---

<div class:list={["flex h-[120vh] justify-center", className]}>
    <ImageWithLoading
        src={src}
        srcLoading={srcLoading}
        width={width}
        alt={alt}
        class="!h-fit !w-fit self-center rounded-3xl"
        classImage="max-h-[90vh] !w-fit rounded-3xl !object-contain"
    />
</div>
