---
import Navbar from "@components/Navbar/Navbar.astro";
import LayoutBase from "@layouts/LayoutBase.astro";
---

<LayoutBase title="404">
    <Navbar />
    <main class="flex h-[80vh] flex-col items-center justify-center">
        <h1 class="text-hero__1">404</h1>
        <h2 class="text-header__1">the unknown land</h2>
    </main>
</LayoutBase>
