---
import Navbar from "@components/Navbar/Navbar.astro";
import LayoutBase from "@layouts/LayoutBase.astro";
---

<LayoutBase title="404 - the unknown land">
    <div class="flex h-svh flex-col">
        <Navbar enableContactLink={false} />
        <main class="grow content-center text-center leading-none">
            <h1 class="text-hero__1">404</h1>
            <h2 class="text-header__1">the unknown land</h2>
        </main>
    </div>
</LayoutBase>
