---
import { Schema } from "astro-seo-schema";

import Layout from "../layouts/Layout.astro";
import Section from "@components/Section.astro";
import HatProfilePicture from "@components/About/HatProfilePicture";
---

<Layout title="About me">
    <Schema
        slot="head"
        item={{
            "@context": "https://schema.org",
            "@type": "Organization",
            name: "Pikne Studio",
            alternateName: "Pękala Design",
            logo: "https://res.cloudinary.com/dms9kwdfz/image/upload/v1714067501/pikne-logo.svg",
            description:
                "At Pikne studio we craft branding, art direction and illustration based on psychological knowledge. Through visual storytelling and empathy-driven design, we help your mission reach those who care about it. The studio, founded by Aleksandra Pekala, specializes in digital artistry that showcases emotions and relationships.",
            url: "https://pikne.studio",
            email: "hello@pikne.studio",
            contactPoint: {
                "@type": "ContactPoint",
                email: "hello@pikne.studio"
            },
            sameAs: [
                "https://www.instagram.com/pikne.studio/",
                "https://www.instagram.com/pekalaart/",
                "https://www.behance.net/alekspekala"
            ],
            founder: {
                "@context": "https://schema.org",
                "@type": "Person",
                name: "Aleksandra Pękala",
                image: [
                    "https://res.cloudinary.com/dms9kwdfz/image/upload/v1714204523/schema-1x1.png",
                    "https://res.cloudinary.com/dms9kwdfz/image/upload/v1714204524/schema-4x3.png",
                    "https://res.cloudinary.com/dms9kwdfz/image/upload/v1714204524/schema-16x9.png"
                ],
                sameAs: [
                    "https://www.instagram.com/pekalaart/",
                    "https://www.instagram.com/olenka.pekala/",
                    "https://www.linkedin.com/in/alekspekala/",
                    "https://www.behance.net/alekspekala",
                    "https://bento.me/olenkapekala",
                    "https://medium.com/@aleksandrapekala",
                    "https://read.cv/aleksandrapekala"
                ],
                jobTitle: "brand designer, art director, creative strategist"
            }
        }}
    />
    <div class:list={["px-default mt-16 grid grid-cols-1", "md:grid-cols-2"]}>
        <div class:list={["order-2", "md:order-0 md:col-span-1 md:col-start-2"]}>
            <HatProfilePicture client:load />
        </div>
        <h1
            class:list={[
                "text-header__1 order-1 mx-auto max-w-[560px] ",
                "md:col-span-1 md:col-start-1 md:justify-self-end"
            ]}
        >
            Need someone who can wear many hats?
        </h1>
        <div class:list={["order-3 mx-auto max-w-[560px]", "md:col-span-1 md:col-start-1 md:justify-self-end"]}>
            <Section header="MY PHILOSOPHY ❤">
                <p>Emotionally connect people and brands through visual language.</p>
            </Section>
            <Section header="WHAT I DO">
                <p>
                    My practice began with a deep love of aesthetics and education in psychology. This unique
                    combination allowed me to understand consumer behavior, brands and strategies on a deeper level. An
                    emotional approach allows brands to connect with their audiences on a deeper level, which drives
                    business results.
                </p>
                <p>
                    know that people don't buy products. They invest in emotions, pleasures, meanings or stories. As a
                    brand designer, creative strategist and art director, I play multiple roles, all with one goal: to
                    bring your vision to life with visuals in a way that will touch hearts and leave an indelible
                    impression.
                </p>
                <p>
                    If there is something you need that I don't feel very confident in, I collaborate with other
                    extremely talented creative professionals who I won't hesitate to recommend.
                </p>
                <p>
                    In my spare time I love to hunt for good travel deals, shop for vintage clothing, cuddle with my
                    cat, and collect books with nice covers (and sometimes even read them).
                </p>
            </Section>
            <Section header="SERVICES">
                <p>
                    <ul class:list={["grid  gap-y-6", "grid-cols-1", "sm:grid-cols-2"]}>
                        <li>Art direction</li>
                        <li>Brand identity</li>
                        <li>Brand strategy</li>
                        <li>Naming</li>
                        <li>Illustration</li>
                        <li>Print design</li>
                        <li>Social media design</li>
                        <li>Space concepts</li>
                        <li>Signage & murals</li>
                        <li>Photoshoot direction</li>
                        <li>Website design</li>
                        <li>Holistic brand experience consulting & advisory</li>
                    </ul>
                </p>
            </Section>
            <Section header="WORK WITH ME">
                <p>
                    It doesn’t matter where you are. I’m based in Poland, but I’m also native at the art of remote
                    working. I thrive on embracing global perspectives. I love working with passionate people, thinkers,
                    idealists and entrepreneurs.
                </p>
                <p>
                    Please fill out the form below or
                    <a
                        href="https://calendly.com/aleksandrapekala/design-inquiry"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="underline decoration-ruby-red-transparent decoration-1 underline-offset-4"
                    >
                        book a call
                    </a>
                    so we can discuss how we can make your vision become a reality.
                </p>
            </Section>
        </div>
    </div>
</Layout>
