---
import Layout from "@layouts/Layout.astro";

import pikachus from "@assets/illustrations/pikachus.png";
import designedForLove from "@assets/illustrations/designed-for-love.png";
import pinkAndFeminity from "@assets/illustrations/pink-and-feminity.png";
import lilou1 from "@assets/illustrations/lilou-1.jpg";
import lilou2 from "@assets/illustrations/lilou-2.png";
import kazachstanIdentity from "@assets/illustrations/kazakhstan-identity.jpg";
import baltic1 from "@assets/illustrations/baltic-in-the-middle-1.png";
import baltic2 from "@assets/illustrations/baltic-in-the-middle-2.png";
import baltic3 from "@assets/illustrations/baltic-in-the-middle-3.png";
import breakfast from "@assets/illustrations/breakfast.png";
import superbloomDeer from "@assets/illustrations/superbloom-deer.png";
import bunnyWonderland from "@assets/illustrations/bunny-wonderland.jpg";
import womanWithFlowers from "@assets/illustrations/woman-with-flowers.png";
import olga from "@assets/illustrations/saint-olga-of-kiev.png";
import ukraine from "@assets/illustrations/ukraine.jpg";
import mongolia from "@assets/illustrations/mongolia.png";
---

<Layout title="Illustrations">
    <div class="mx-auto mb-[30vh]">
        <div class="sticky top-[20vh] mt-[20vh] whitespace-nowrap text-center font-alexang text-[min(30vw,420px)]">
            Illustrations
        </div>
        <div
            data-projects
            class:list={["col grid grid-cols-1 justify-items-center", "mt-[10vh] gap-y-40", "lg:mt-[30vh] lg:gap-y-64"]}
        >
        </div>
    </div>
</Layout>
