---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import Ribbon from "@components/Ribbon.astro";
import ProjectScreenNormal from "@components/Landing/ProjectScreenNormal.astro";
import FlowerLink from "@components/Landing/FlowerLink.astro";
import Layout from "@layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import aleksandraThinking from "@assets/index/thinking.png";
import aleksandraConfetti from "@assets/index/confetti.png";

// TODO: use semantic html - section and so on
// TODO: add accessibility data for flower link foreignObjects?
// TODO: make sure that all elements have the same sizing/padding
// TODO: make sure that contact me page is not visible in more secrets revealed page
---

<Layout title="Welcome to Astro.">
    <div class="h-screen bg-gradient-feeling-default text-center">
        <div class="text-header__4">Aleksandra Pekala is good at</div>
        <div class="text-header__2 mb-20">translating feelings to visuals</div>
        <div class="text-header__4 mb-5">How do you feel?</div>
        <div class="flex flex-wrap gap-4 justify-center">
            <button type="button" class="border px-8 py-4 border-ruby-red rounded-3xl">Happy</button>
            <button type="button" class="border px-8 py-4 border-ruby-red rounded-3xl">Extatic</button>
            <button type="button" class="border px-8 py-4 border-ruby-red rounded-3xl">Proud</button>
            <button type="button" class="border px-8 py-4 border-ruby-red rounded-3xl">Nostaligic</button>
            <button type="button" class="border px-8 py-4 border-ruby-red rounded-3xl">Sad</button>
            <button type="button" class="border px-8 py-4 border-ruby-red rounded-3xl">Angry</button>
        </div>
    </div>
    <Ribbon
        text="✹ for the bold dreamweavers ✹ for the change-makers ✹ for the good-doers ✹ for the beauty-seekers ✹ for the explorers ✹ for the ones with a story to tell ✹ for the dreamers ✹ for the ones taking the initiative ✹ for the helpers ✹ for the visionaries ✹ for the creators ✹ for the empathetic innovators  ✹ for the creative catalysts ✹ for the thoughtful trailblazers ✹ for the fearless futurists ✹ for the purpose-driven imaginationists ✹ for the conscious crafters"
        class="bg-ruby-red text-light-pink text-header__1 py-2"
        repeats={1}
    />
    <div class="h-screen flex flex:col bg-blue-50">
        <div>
            image
            <!-- <Image src={aleksandraThinking} alt="me thinking, squatting, red doodles around me" /> -->
        </div>
        <div>
            <div class="text-header__4">What do i do</div>
            <div>
                <div>I craft branding, art direction and illustration based on psychological knowledge.</div>
                <div>
                    Through visual storytelling and empathy-driven design, I help your mission reach those who care
                    about it.
                </div>
            </div>
            <div>Contact me</div>
        </div>
    </div>
    <div class="h-screen">
        <div class="text-hero__1 text-center">My work</div>
    </div>
    <ProjectScreenNormal title="BOSKA" year="2023" class="bg-volt py-20 text-dark-chocolate">
        <Fragment slot="servies">branding</Fragment>
        <Fragment slot="description">
            BOSKA make bodies become timeless art. I’ve crafted visual identity for a brand that celebrates each curve
            as a masterpiece.
        </Fragment>
    </ProjectScreenNormal>
    <div class:list={["h-screen bg-ice-blue pt-20"]}></div>

    <ProjectScreenNormal title="Illustrations" year="2021-2023" class="bg-tea-green text-dark-chocolate">
        <Fragment slot="description">
            My illustrations are a reflection of my fascination with the storytelling power of color, shapes, and light.
            I like to reflect on emotions, relations, a sense of humanity and beauty.
        </Fragment>
    </ProjectScreenNormal>
    <a href="/my-work">
        <Ribbon
            text="✺ click to see more work "
            class="bg-lilac text-dark-chocolate text-header__3 py-14"
            repeats={20}
        />
    </a>
    <div class:list={["min-h-screen flex flex-col justify-center gap-20 py-20"]}>
        <div class="text-header__1 text-center">More secrets revealed</div>
        <div class:list={["flex justify-center gap-28 flex-wrap font-metropolis uppercase"]}>
            <FlowerLink
                href="/about"
                class="fill-ruby-red stroke-ruby-red text-[1.26rem] w-[300px] h-[300px] md:w-[400px] md:h-[400px]"
                altTitle="About me"
                altDescription="A rotating link with text placed around a circle, with a cloud/flower shape around it, and a smiley face inside"
            >
                <Fragment slot="innerIcon">
                    <foreignObject x="75" y="90" class="w-[50px] h-[24px]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.41 15.68">
                            <defs>
                                <style>
                                    .cls-1,
                                    .cls-2 {
                                        stroke-width: 2px;
                                    }

                                    .cls-2 {
                                        fill: none;
                                    }
                                </style>
                            </defs>
                            <g>
                                <g>
                                    <path class="cls-2" d="m1.51,6.49s11.73-12.04,21.56.91c0,0-8.41,8.91-21.56-.91Z"
                                    ></path>
                                    <circle class="cls-1" cx="12.68" cy="6.35" r="4.72"></circle>
                                    <g>
                                        <path
                                            class="cls-2"
                                            d="m39.74,8.23s9.33-13.98,21.37-3.05c0,0-6.64,10.3-21.37,3.05Z"></path>
                                        <circle class="cls-1" cx="50.35" cy="5.95" r="4.77"></circle>
                                    </g>
                                    <path
                                        class="cls-2"
                                        d="m25.05,10.59s-.63,4.43,2.71,4.05,3.34-4.05,3.34-4.05c0,0-.07,4.55,2.93,4.05s3.26-4.05,3.26-4.05"
                                    ></path>
                                </g>
                            </g>
                        </svg>
                    </foreignObject>
                </Fragment>
                <Fragment slot="text">About me ✹ About me ✹ About me ✹</Fragment>
            </FlowerLink>

            <FlowerLink
                href="/process"
                class="fill-ruby-red stroke-ruby-red text-[1.38rem] w-[300px] h-[300px] md:w-[400px] md:h-[400px]"
                altTitle="You are wonderful, now click this"
                altDescription="A rotating link with text placed around a circle, with a cloud/flower shape around it, and a smiley face inside"
            >
                <Fragment slot="innerIcon">
                    <foreignObject x="75" y="90" class="w-[50px] h-[24px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="auto"
                            height="auto"
                            viewBox="0 0 97 24"
                            fill="none"
                        >
                            <path
                                d="M96.0607 13.0607C96.6464 12.4749 96.6464 11.5251 96.0607 10.9393L86.5147 1.3934C85.9289 0.807611 84.9792 0.807611 84.3934 1.3934C83.8076 1.97919 83.8076 2.92893 84.3934 3.51472L92.8787 12L84.3934 20.4853C83.8076 21.0711 83.8076 22.0208 84.3934 22.6066C84.9792 23.1924 85.9289 23.1924 86.5147 22.6066L96.0607 13.0607ZM0 13.5H95V10.5H0V13.5Z"
                                class="fill-ruby-red"
                            >
                            </path>
                        </svg>
                    </foreignObject>
                </Fragment>
                <Fragment slot="text">SEE MY PROCESS ✹ IT'S VERY FUN ✹</Fragment>
            </FlowerLink>
        </div>
    </div>

    <!-- <Ribbon text="click to see more work ✺" class="bg-lilac text-dark-chocolate" /> -->
</Layout>
<!-- <GradientScroll /> -->
<!-- <Quote author="Maria Obszyńska, the owner">
        From the beginning of our collaboration, Aleksandra perfectly understood what I care about and what I expect,
        offering many valuable comments and ideas herself. The logo she crafted perfectly reflects the idea behind my
        company. The other materials complement it, resulting in a cohesive look of the entire project. I can highly
        recommend her services if you are looking for an exceptional, unique look for your company.
    </Quote> -->
<!-- <PictureLink title={"MIR"} subTitle="Next up" /> -->
