---
import LayoutBigTitle from "@layouts/LayoutBigTitle.astro";
---

<LayoutBigTitle title="Privacy policy" titleClass="flex justify-center !text-left">
    <Fragment slot="header">
        <div>
            <span class="block">Privacy</span>
            <span class="ml-[0.4em] mt-[-0.25em] block">policy</span>
        </div>
    </Fragment>
    <Fragment slot="content">
        <article class="mx-auto mt-16 max-w-[900px]">
            <h2 class="text-header__2 mb-4">Privacy Policy for Pikne Studio</h2>
            <div class="text-paragraph__normal">
                <p class="mb-6">
                    Thank you for visiting pikne.studio ("the Website"). We are committed to protecting your privacy and
                    ensuring the security of your personal data. This Privacy Policy explains how we collect, use,
                    disclose, and store information about visitors to our website, in accordance with the General Data
                    Protection Regulation (GDPR) and other applicable privacy laws.
                </p>
                <ul class="list-inside list-none children-li:mb-8">
                    <li>
                        <p class="uppercase">Data Controller and Contact Information</p>
                        <p>
                            The data controller for Pikne.studio is Pekala design, which is responsible for the
                            processing of personal data on this website. If you have any questions or concerns about
                            this Privacy Policy or your personal data, you can contact us at:
                        </p>
                        <address class="mt-3 not-italic">
                            Aleksandra Pekala design<br />
                            Oboźna 29/14, 30-010, Kraków, Poland<br />
                            hello@pikne.studio
                        </address>
                    </li>
                    <li>
                        <p class="uppercase">Information about Personal Data Processing</p>
                        <p>
                            <ol class="list-inside list-decimal">
                                <li>
                                    Security Principles:
                                    <ul class="list-inside list-disc pl-6">
                                        <li>
                                            We have an SSL certificate to ensure the confidentiality of data
                                            transmission over the Internet.
                                        </li>
                                        <li>We will never ask for your password by phone, SMS, or email.</li>
                                        <li>We maintain backups and have the ability to recover data.</li>
                                        <li>We use solutions to protect against DDoS attacks.</li>
                                        <li>
                                            If you suspect a security incident, please contact us at hello@pikne.studio.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Principles of Personal Data Processing:
                                    <ul class="list-inside list-disc pl-6">
                                        <li>
                                            We only process personal data that is necessary to provide a specific
                                            service.
                                        </li>
                                        <li>
                                            Personal data is processed in accordance with the principles of
                                            minimization, storage limitation, and integrity.
                                        </li>
                                        <li>
                                            Users have the right to access, rectify, erase, restrict processing, and
                                            portability of their personal data, and to object to its processing.
                                        </li>
                                        <li>You can withdraw your consent to personal data processing at any time.</li>
                                    </ul>
                                </li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">Data We Collect</p>
                        <p>We may collect the following types of personal data from you when you visit our website:</p>
                        <ul class="list-inside list-[lower-alpha]">
                            <li>
                                Personal Information: This includes your name, email address, phone number, and any
                                other information you provide to us voluntarily through our contact forms or
                                registration process.
                            </li>
                            <li>
                                Usage Information: We collect information about how you use our website, such as your IP
                                address, browser type, referring website, pages viewed, and the duration of your visit.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="uppercase">How We Use Your Data</p>
                        <p>We use the personal data we collect for the following purposes:</p>
                        <ul class="list-inside list-[lower-alpha]">
                            <li>To respond to your inquiries and provide customer support.</li>
                            <li>
                                To send you newsletters, marketing communications, and promotional materials, where you
                                have consented to receive them.
                            </li>
                            <li>
                                To improve and personalize your experience on our website, including analyzing website
                                usage patterns.
                            </li>
                            <li>To comply with legal obligations and enforce our terms of service.</li>
                        </ul>
                    </li>
                    <li>
                        <p class="uppercase">Legal Basis for Processing Your Data</p>
                        <p>
                            We will only process your personal data when we have a legal basis for doing so. The legal
                            bases for processing your data on Pikne.studio are:
                        </p>
                        <ul class="list-inside list-[lower-alpha]">
                            <li>
                                Consent: You have given us explicit permission to process your personal data for
                                specific purposes, such as sending newsletters.
                            </li>
                            <li>
                                Contractual Necessity: Processing is necessary for the performance of a contract with
                                you, such as providing services you have requested.
                            </li>
                            <li>
                                Legitimate Interests: Processing is necessary for our legitimate interests, such as
                                improving our website and marketing our products or services.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="uppercase">International Data Transfers</p>
                        <p>
                            As part of our operations, we may transfer your personal data to third-party service
                            providers or affiliates located in countries outside the European Economic Area (EEA). In
                            such cases, we will take all necessary steps to ensure that your data is adequately
                            protected in accordance with GDPR requirements.
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">Data Retention</p>
                        <p>
                            We will retain your personal data for as long as necessary to fulfill the purposes outlined
                            in this Privacy Policy unless a longer retention period is required or permitted by law.
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">Your Data Protection Rights</p>
                        <p>
                            As a data subject, you have certain rights under the GDPR, including the right to access,
                            correct, delete, or restrict the processing of your personal data. You also have the right
                            to object to the processing of your data and the right to data portability. To exercise any
                            of these rights, please contact us using the details provided in Section 1.
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">User Rights</p>
                        <p>
                            Users have the following rights:
                            <ul class="list-inside list-disc">
                                <li>Right to access their personal data</li>
                                <li>Right to rectify their personal data</li>
                                <li>Right to erase their personal data</li>
                                <li>Right to restrict processing of their personal data</li>
                                <li>Right to data portability</li>
                                <li>Right to object to processing of their personal data</li>
                                <li>Right to withdraw their consent to personal data processing at any time</li>
                            </ul>
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">
                            Complaint to the President of the Personal Data Protection Office (UODO)
                        </p>
                        <p>
                            Users have the right to lodge a complaint with the President of the Personal Data Protection
                            Office (UODO) if they believe their personal data is being processed unlawfully.
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">Cookies and Similar Technologies</p>
                        <p>
                            Our website may use cookies and similar technologies to enhance your experience. You can
                            manage your cookie preferences through your browser settings.
                        </p>
                    </li>
                    <li>
                        <p class="uppercase">Updates to the Privacy Policy</p>
                        <p>
                            We may update this Privacy Policy from time to time to reflect changes in our practices or
                            for other operational, legal, or regulatory reasons. The revised policy will be posted on
                            this page with an updated effective date.
                        </p>
                    </li>
                </ul>
                <p>
                    By using Pikne.studio, you consent to the terms of this Privacy Policy. If you do not agree with the
                    terms herein, please refrain from using our website.
                </p>
                <footer class="mt-16">
                    <p>Last updated: 2nd April 2024</p>
                </footer>
            </div>
        </article>
    </Fragment>
</LayoutBigTitle>
