---
import GradientScroll from "@components/Process/GradientScroll.astro";
import Layout from "@layouts/Layout.astro";

const processSteps = [
    {
        title: "SAY HELLO!",
        description: "We’ll hold an exploratory call to understand your goals, values, and target audience.",
        stepIcon: "( 1 )"
    },
    {
        title: "DISCOVERY & RESEARCH",
        description:
            "Conduct market research to analyze your competitors, industry trends, and consumer preferences. Gathering insights into the brand's unique selling points and differentiators.",
        stepIcon: "( 2 )"
    },
    {
        title: "STRATEGY & PLANNING",
        description:
            "Defining the brand's positioning, personality, and core message. Developing a comprehensive brand strategy that aligns with the target audience and business objectives.",
        stepIcon: "( 3 )"
    },
    {
        title: "DESIGNING CONCEPTS",
        description: "I prepare design references and we discuss them.",
        stepIcon: "( 4 )"
    },
    {
        title: "DESIGNING MATERIALS",
        description:
            "Conduct market research to analyze your competitors, industry trends, and consumer preferences. Gathering insights into the brand's unique selling points and differentiators",
        stepIcon: "( 5 )"
    },
    {
        title: "IMPLEMENTATION",
        description:
            "I work closely with the client to implement the new brand across all touchpoints, both online and offline. I can oversee the production process for printed materials and ensure quality standards are met. We’ll plan and execute a successful brand launch, including promotional activities and communication strategies.",
        stepIcon: "( 6 )"
    },
    {
        title: "SUPPORT & MAINTENANCE",
        description:
            "I'll provide guidance on how to use and update the materials I created, answer any questions you may have, and equip you with the tools you need to manage your digital assets. I will be always here for you in case of doubts or problems.",
        stepIcon: "( 7 )"
    }
];
---

<Layout title="Project process">
    <div class="mb-40 flex flex-col items-center">
        <div class="text-hero__2 leading-[230px]">
            <span class="block">Project</span><span class="block">process</span>
        </div>
        <div>(example of a branding process, for different type of projects the process may vary)</div>
    </div>
    <div class="mb-40 grid grid-cols-4">
        <div class="col-span-1 col-start-2 h-full">
            <GradientScroll />
        </div>
        <div class="row-auto grid columns-1 gap-48">
            {
                processSteps.map((step) => (
                    <div>
                        <div class="text-header__2">
                            {step.title} <sup class="-top-8 text-[1.75rem] tracking-tighter">{step.stepIcon}</sup>
                        </div>
                        <div class="max-w-[500px]">{step.description}</div>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
