---
import LayoutBigTitle from "@layouts/LayoutBigTitle.astro";

import PictureLink from "@components/PictureLink.astro";
import GradientScroll from "@components/Process/GradientScroll.astro";
import Section from "@components/Process/Section.astro";

import brandingThumbnail from "@assets/thumbnails/my-own-branding.webp";
---

<LayoutBigTitle title="Project process" titleClass="flex justify-center !text-left landscape:!min-h-[600px]">
    <Fragment slot="header">
        <span class="block">Project</span>
        <span class="ml-[0.5em] mt-[-0.25em] block">process</span>
        <div
            class:list={[
                "text-paragraph__normal whitespace-normal text-right",
                "py-10",
                "lg:translate-y-[10%] lg:py-2"
            ]}
        >
            * example of a branding process, it may vary for different projects
        </div>
    </Fragment>
    <Fragment slot="content">
        <div class="process-grid__main mx-auto mt-16 max-w-[900px]">
            <GradientScroll />
            <Section step={1}>
                <Fragment slot="title">SAY HELLO!</Fragment>
                <Fragment slot="description">
                    <p>We’ll hold an exploratory call to understand your goals, values, and target audience.</p>
                    <p>Before that, you can always book a free consultation call to see if we click.</p>
                </Fragment>
            </Section>
            <Section step={2}>
                <Fragment slot="title">DISCOVERY & RESEARCH</Fragment>
                <Fragment slot="description">
                    With your help, we will conduct market research to analyze your competitors, industry trends, and
                    consumer preferences. We will will gather insights into the brand's unique selling points and
                    differentiators.
                </Fragment>
            </Section>
            <Section step={3}>
                <Fragment slot="title">STRATEGY & PLANNING</Fragment>
                <Fragment slot="description">
                    Defining the brand's positioning, personality, and core message. Developing a comprehensive brand
                    strategy that aligns with the target audience and business objectives.
                </Fragment>
            </Section>
            <Section step={4}>
                <Fragment slot="title">DESIGNING CONCEPTS</Fragment>
                <Fragment slot="description">
                    Time to prepare design references, moodboards, first visual drafts - we discuss them and pick a
                    direction.
                </Fragment>
            </Section>
            <Section step={5}>
                <Fragment slot="title">DESIGNING MATERIALS</Fragment>
                <Fragment slot="description">
                    Conduct market research to analyze your competitors, industry trends, and consumer preferences.
                    Gathering insights into the brand's unique selling points and differentiators
                </Fragment>
            </Section>
            <Section step={6}>
                <Fragment slot="title"><span class="hyphens-manual">IMPLEMEN&shy;TATION</span></Fragment>
                <Fragment slot="description">
                    <p>
                        The magic happens! We’ll design the primary brand elements, including the logo, color palette
                        etc. We’ll explore different visual concepts and then extend the brand identity to various
                        collateral and marketing materials, such as business cards, banners.
                    </p>
                    <p>
                        We’ll design a cohesive brand presence across digital platforms and ensure the brand's visual
                        assets are optimized for various digital formats.
                    </p>
                </Fragment>
            </Section>
            <Section step={7}>
                <Fragment slot="title">SUPPORT & MAINTENANCE</Fragment>
                <Fragment slot="description">
                    We work closely with the client to implement the new brand across all touchpoints, both online and
                    offline. We ensure quality standards are met. We’ll plan and execute a successful brand launch,
                    including promotional activities and communication strategies.
                </Fragment>
            </Section>
        </div>
    </Fragment>
    <PictureLink
        slot="link"
        title="My own branding"
        subTitle="HOW DOES IT LOOK IN PRACTICE?"
        linkTo="/case-study"
        linkAccessibleName="link to my own branding"
        src={brandingThumbnail}
        alt=""
    />
</LayoutBigTitle>

<style>
    .process-grid__main {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(28, auto);
        column-gap: 10px;
    }
</style>
