---
import { Image } from "astro:assets";

import LayoutBigTitle from "@layouts/LayoutBigTitle.astro";
import illustrations from "@assets/work/illustrations.png";
import patchwork from "@assets/work/patchwork.png";
import psykologkompassen from "@assets/work/psykologkompassen.png";
import sensus from "@assets/work/sensus.png";
import boska from "@assets/work/boska.png";

interface ProjectConfigType {
    title: string;
    titleHTML?: string;
    src: ImageMetadata;
    linkTo: string;
    alt: string;
}

const projects = [
    {
        title: "illustrations",
        src: illustrations,
        linkTo: "/illustrations",
        alt: "a digital editorial illustration showing an assortment of individuals with distinct faces as the users of a dating app, there are virtual connections between them suggesting if they are a match or not"
    },
    {
        title: "sensus",
        src: sensus,
        linkTo: "/project/sensus",
        alt: "hands massaging the back, warm light"
    },
    {
        title: "Patchwork",
        src: patchwork,
        linkTo: "/project/patchwork",
        alt: "a photograph of a parent holding a baby with Down's Syndrome"
    },
    {
        title: "Psykologkompassen",
        titleHTML: "Psykolog<wbr>kompassen",
        src: psykologkompassen,
        linkTo: "/project/psykologkompassen",
        alt: "a man facing away from the camera looks at the landscape view in front of him"
    },
    {
        title: "BOSKA body cast",
        titleHTML: "BOSKA body&nbsp;cast",
        src: boska,
        linkTo: "/project/boska",
        alt: "a set of printed branding materials for BOSKA brand including off-white boxes and business card"
    }
] as ProjectConfigType[];
---

<LayoutBigTitle title="work" withStickyHeader>
    <Fragment slot="header">My work</Fragment>
    <Fragment slot="content">
        <div class:list={["relative z-20 flex flex-col", "gap-y-40", "lg:gap-y-64"]}>
            {
                projects.map((project) => (
                    <div class="flex flex-col">
                        <a href={project.linkTo} aria-label={`Link to project "${project.title}""`} class="self-center">
                            <div class="relative">
                                <Image
                                    src={project.src}
                                    width={1100}
                                    alt={project.alt}
                                    class:list={["w-auto rounded-3xl"]}
                                />
                                <div
                                    class="text-header__1 absolute top-1/2 w-full -translate-y-1/2 px-5 text-center text-light-pink"
                                    set:html={project.titleHTML ?? project.title}
                                />
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </Fragment>
</LayoutBigTitle>
