---
import Layout from "@layouts/Layout.astro";
import illustrations from "@assets/illustrations/designed-for-love.png";
import patchwork from "@assets/work/patchwork.png";
import psykologkompassen from "@assets/work/psykologkompassen.png";
import sensus from "@assets/work/sensus.png";
import boska from "@assets/work/boska.png";
import { Image } from "astro:assets";
import ScrollIndicator from "@components/ScrollIndicator.astro";

interface ProjectConfigType {
    title: string;
    titleHTML?: string;
    src: ImageMetadata;
    linkTo: string;
    alt: string;
}
// TODO update sensus image with better quality + Update alt

const projects = [
    {
        title: "illustrations",
        src: illustrations,
        linkTo: "/projects/illustrations",
        alt: "a digital editorial illustration showing an assortment of individuals with distinct faces as the users of a dating app, there are virtual connections between them suggesting if they are a match or not"
    },
    {
        title: "sensus",
        src: sensus,
        linkTo: "/projects/sensus",
        alt: "hands massaging the back, warm light"
    },
    {
        title: "Patchwork",
        src: patchwork,
        linkTo: "/projects/patchwork",
        alt: "a photograph of a parent holding a baby with Down's Syndrome"
    },
    {
        title: "Psykologkompassen",
        titleHTML: "Psykolog<wbr>kompassen",
        src: psykologkompassen,
        linkTo: "/projects/psykologkompassen",
        alt: "a man facing away from the camera looks at the landscape view in front of him"
    },
    {
        title: "BOSKA body cast",
        titleHTML: "BOSKA body&nbsp;cast",
        src: boska,
        linkTo: "/projects/boska",
        alt: "a set of printed branding materials for BOSKA brand including off-white boxes and business card"
    }
] as ProjectConfigType[];
---

<Layout title="My Work">
    <div class="mx-auto mb-[30vh]">
        <div class="sticky top-[20vh] mt-[20vh] whitespace-nowrap text-center font-alexang text-[min(30vw,420px)]">
            My work
            <ScrollIndicator />
        </div>
        <div
            data-projects
            class:list={["col grid grid-cols-1 justify-items-center", "mt-[10vh] gap-y-40", "lg:mt-[30vh] lg:gap-y-64"]}
        >
            {
                projects.map((project) => (
                    <div class="stack w-3/4 max-w-[900px] drop-shadow-2xl">
                        <a href={project.linkTo} aria-label={`Link to project "${project.title}""`} class="stack">
                            <Image
                                src={project.src}
                                width={900}
                                height={600}
                                class=" w-full rounded-3xl object-cover"
                                alt={project.alt}
                                quality="high"
                            />
                            <div
                                class="text-header__1 w-fit px-5 text-center text-light-pink"
                                set:html={project.titleHTML ?? project.title}
                            />
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>

<style>
    .stack {
        display: grid;
        place-items: center;
        grid-template-areas: "stack";
    }

    .stack > * {
        grid-area: stack;
    }
</style>

<script>
    import { scroll, animate } from "motion";

    const workItems = document.querySelectorAll("[data-projects] > *") as NodeListOf<HTMLElement>;

    workItems.forEach((workItem) => {
        scroll(animate(workItem, { scale: [1, 1.1, 1.1, 1] }), {
            target: workItem,
            offset: ["start end", "end end", "start start", "end start"]
        });
    });
</script>
