---
import type { LinkType } from "./Navbar.astro";

interface Props {
    class?: string;
    links: LinkType[];
}

const { class: className, links } = Astro.props;
---

<ul data-navbar-desktop class:list={["justify-end gap-5", className]}>
    {
        links.map((link) => {
            if (link.isMobileOnly) return;

            return (
                <li>
                    <a
                        href={link.linkTo}
                        aria-label={link.acessibleName}
                        rel={link.isOutsideLink ? "noopener noreferrer" : null}
                        target={link.isOutsideLink ? "_blank" : "_self"}
                        data-link-type={link.isLinkToSection ? "section" : "normal"}
                        class:list={{
                            "btn-primary whitespace-nowrap": link.isButtonTypeLink
                        }}
                    >
                        {link.linkTargetName}
                    </a>
                </li>
            );
        })
    }
</ul>

<script>
    const navbar = document.querySelector("[data-navbar-desktop]") as HTMLElement;
    const sectionLinks = navbar.querySelectorAll("a[data-link-type='section']") as NodeListOf<HTMLAnchorElement>;

    sectionLinks.forEach((sectionLink) => {
        sectionLink.addEventListener("click", (e) => {
            e.preventDefault();

            const targetElementSelector = sectionLink.hash;
            const targetElement = document.querySelector(targetElementSelector);

            targetElement?.scrollIntoView({ behavior: "smooth", block: "start" });
        });
    });
</script>
