---
import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
import MobileNavbar from "./MobileNavbar.astro";
import DesktopNavbar from "./DesktopNavbar.astro";

interface Props {
    class?: string;
    enableContactLink?: boolean;
}

const { class: className, enableContactLink = true } = Astro.props;

export interface LinkType {
    linkTargetName: string;
    linkTo: string;
    acessibleName: string;
    isMobileOnly?: boolean;
    isLinkToSection?: boolean;
    isOutsideLink?: boolean;
    isButtonTypeLink?: boolean;
}
// TODO maybe accessible name is not needed
const links = [
    { linkTargetName: "Home", linkTo: "/", acessibleName: "home page", isMobileOnly: true },
    { linkTargetName: "About", linkTo: "/about", acessibleName: "about me page" },
    { linkTargetName: "Work", linkTo: "/work", acessibleName: "my work page" },
    { linkTargetName: "Process", linkTo: "/process", acessibleName: "process page" },
    ...(enableContactLink
        ? [
              {
                  linkTargetName: "Contact",
                  linkTo: "#contact",
                  acessibleName: "contact form footer",
                  isLinkToSection: true
              }
          ]
        : []),
    {
        linkTargetName: "Book a call",
        linkTo: "https://calendly.com/aleksandrapekala/design-inquiry",
        isOutsideLink: true,
        isButtonTypeLink: true
    }
] as LinkType[];
---

<nav class:list={["px-default flex flex-row justify-between", "py-3", "sm:py-5", "lg:py-8", className]}>
    <div class="basis-1/2">
        <a href="/" aria-label="go home link">
            <Image
                src={logo}
                alt="pekala design logo"
                width={156}
                height={91}
                class:list={["h-[50px] w-[86px]", "sm:h-[91px] sm:w-[156px]"]}
            />
        </a>
    </div>
    <div class="text-header__4 basis-1/2 self-center">
        <MobileNavbar class="lg:hidden" links={links} />
        <DesktopNavbar class="hidden lg:flex" links={links} />
    </div>
</nav>
