---
import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
import MobileNavbar from "./MobileNavbar.astro";
// TODO https://css-tricks.com/how-to-implement-and-style-the-dialog-element/ https://hidde.blog/using-javascript-to-trap-focus-in-an-element/
// TODO https://www.youtube.com/watch?v=IdZ-ZHLyEHs https://github.com/alstudio93/alstudio-responsive-navigation/blob/main/scripts/script.js
---

<nav class="flex flex-row justify-between mx-16 my-14">
    <MobileNavbar />
    <!-- <div class="basis-1/2">
        <Image src={logo} alt="pekala design logo" width={156} />
    </div>
    <ul class="flex gap-5 basis-1/2 font-metropolis text-2xl uppercase justify-end items-center">
        <li>About</li>
        <li>Work</li>
        <li>Playground</li>
        <li>Contact</li>
    </ul> -->
</nav>
