---
import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
import MobileNavbar from "./MobileNavbar.astro";
import DesktopNavbar from "./DesktopNavbar.astro";

export interface LinkType {
    pageName: string;
    pageUrl: string;
    acessibleName: string;
    isMobileOnly?: boolean;
    isLinkToSection?: boolean;
}

const links = [
    { pageName: "Home", pageUrl: "/", acessibleName: "home page", isMobileOnly: true },
    { pageName: "About", pageUrl: "/about", acessibleName: "about me page" },
    { pageName: "Work", pageUrl: "/my-work", acessibleName: "my work page" },
    { pageName: "Playground", pageUrl: "/playground", acessibleName: "playground page" },
    { pageName: "Contact", pageUrl: "#contact", acessibleName: "contact form footer", isLinkToSection: true }
] as LinkType[];
---

<nav class="flex flex-row justify-between mx-16 my-14">
    <div class="basis-1/2">
        <Image src={logo} alt="pekala design logo" width={156} height={91} />
    </div>
    <div class="text-header__4 basis-1/2 self-center">
        <MobileNavbar class="lg:hidden" links={links} />
        <DesktopNavbar class="hidden lg:flex" links={links} />
    </div>
</nav>
