---
import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
import MobileNavbar from "./MobileNavbar.astro";
import DesktopNavbar from "./DesktopNavbar.astro";

export interface LinkType {
    pageName: string;
    linkTo: string;
    acessibleName: string;
    isMobileOnly?: boolean;
    isLinkToSection?: boolean;
}

const links = [
    { pageName: "Home", linkTo: "/", acessibleName: "home page", isMobileOnly: true },
    { pageName: "About", linkTo: "/about", acessibleName: "about me page" },
    { pageName: "Work", linkTo: "/my-work", acessibleName: "my work page" },
    { pageName: "Playground", linkTo: "/playground", acessibleName: "playground page" },
    { pageName: "Contact", linkTo: "#contact", acessibleName: "contact form footer", isLinkToSection: true }
] as LinkType[];
---

<nav class:list={["flex flex-row justify-between", "mx-6 mt-6", "sm:mx-10 sm:mt-10", "lg:mx-16 lg:mt-16"]}>
    <div class="basis-1/2">
        <a href="/" aria-label="go home link">
            <Image
                src={logo}
                alt="pekala design logo"
                width={156}
                height={91}
                class:list={["h-[50px] w-[86px]", "sm:h-[91px] sm:w-[156px]"]}
            />
        </a>
    </div>
    <div class="text-header__4 basis-1/2 self-center">
        <MobileNavbar class="md:hidden" links={links} />
        <DesktopNavbar class="hidden md:flex" links={links} />
    </div>
</nav>
