<footer id="contact" class="z-10">
    <div class:list={["-mb-[0.46em] text-center font-alexang text-[min(25vw,425px)]"]}>Contact me</div>
    <div class="min-h-screen bg-ruby-red text-light-pink">
        <div
            class:list={[
                "grid h-full",
                "grid-cols-1 gap-16 px-6 py-16",
                "md:gap-20 md:px-0",
                "lg:grid-cols-2 lg:px-16 lg:pt-24"
            ]}
        >
            <form
                class:list={[
                    "mx-auto flex w-full max-w-[680px] flex-col gap-y-8",
                    "children:rounded-3xl children:border children:border-light-pink children:bg-ruby-red children:p-10 children:text-light-pink children:placeholder-light-pink",
                    "order-1",
                    "lg:order-2"
                ]}
            >
                <input
                    type="text"
                    class="outline-2 outline-light-pink focus:outline"
                    placeholder="Name (+ optionally surname)"
                    required
                />
                <input type="email" class="outline-2 outline-light-pink focus:outline" placeholder="Email" required />
                <textarea
                    class="min-h-[300px] outline-2 outline-light-pink focus:outline"
                    placeholder="Message"
                    required></textarea>
                <button type="submit" class="font-alexang text-3xl sm:md:text-4xl md:text-5xl">
                    Send the word 🕊️</button
                >
            </form>
            <div
                class:list={[
                    "mx-auto flex w-full max-w-[680px] font-metropolis",
                    "order-2 flex-col text-base",
                    "sm:text-md sm:flex-row sm:justify-between sm:pr-11",
                    "md:text-xl",
                    "lg:order-1 lg:flex-col lg:pr-0"
                ]}
            >
                <div
                    class:list={[
                        "children-a:block children-a:underline children-a:decoration-1 children-a:underline-offset-4 children-a:decoration-light-pink-transparent children-not-last:mb-6",
                        "mb-10",
                        "md:mb-0"
                    ]}
                >
                    <div>based in Kraków</div>
                    <div>available for freelance work worldwide</div>
                    <a
                        href="mailto:hello@pekala.design"
                        rel="noopener noreferrer"
                        target="_blank"
                        aria-label="Aleksandra Pękala contact mail"
                    >
                        hello@pekala.design
                    </a>
                    <a
                        href="https://calendly.com/aleksandrapekala/design-inquiry"
                        rel="noopener noreferrer"
                        target="_blank"
                    >
                        book a free consultancy call
                    </a>
                </div>
                <ul class="uppercase children-not-last:mb-6">
                    <li>
                        <a
                            href="https://www.linkedin.com/in/alekspekala/"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Linkedin profile"
                        >
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://medium.com/@aleksandrapekala"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Medium profile"
                        >
                            Medium
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/pekalaart/"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Illustrations Instagram profile"
                        >
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://read.cv/aleksandrapekala"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Read.CV profile"
                        >
                            Read.CV
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
