---
// TODO Add weather, time data, link to mail, book call link
// TODO remove  whitespace-nowrap for header and make it responsive
---

<footer>
    <div class="text-hero__1 text-center -mb-[90px] whitespace-nowrap">Contact me</div>
    <div class="bg-ruby-red text-light-pink">
        <div class="grid grid-cols-2 items-center px-16 pt-24 pb-28 h-full">
            <div class="flex flex-col justify-between h-full font-metropolis text-xl">
                <div class="[&>*]:mb-6">
                    <div>based in Kraków, PL | 10:27PM | 13°C</div>
                    <div>available for freelance work worldwide</div>
                    <div>hello@pekala.design</div>
                    <div>book a free consultancy call</div>
                </div>
                <ul class="uppercase [&>*]:mb-6">
                    <li>
                        <a
                            href="https://www.linkedin.com/in/alekspekala/"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Linkedin profile"
                        >
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://medium.com/@aleksandrapekala"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Medium profile"
                        >
                            Medium
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/pekalaart/"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Illustrations Instagram profile"
                        >
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://read.cv/aleksandrapekala"
                            rel="noopener noreferrer"
                            target="_blank"
                            aria-label="Aleksandra Pękala Read.CV profile"
                        >
                            Read.CV
                        </a>
                    </li>
                </ul>
            </div>
            <form
                class="flex flex-col gap-y-8 max-w-[680px] [&>*]:p-10 [&>*]:bg-ruby-red [&>*]:text-light-pink [&>*]:placeholder-light-pink [&>*]:border [&>*]:border-light-pink [&>*]:rounded-3xl"
            >
                <input type="text" class="focus:outline-none" placeholder="Name (+ optionally surname)" required />
                <input type="email" class="focus:outline-none" placeholder="Email" required />
                <textarea class="min-h-[300px] focus:outline-none" placeholder="Message" required></textarea>
                <button type="submit" class="text-5xl font-alexang"> Send the word 🕊️</button>
            </form>
        </div>
    </div>
</footer>
