---
import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
---

<nav class="flex flex-row justify-between mx-16 my-14">
    <div class="basis-1/2">
        <Image src={logo} alt="pekala design logo" width={156} />
    </div>
    <ul class="flex gap-5 basis-1/2 font-metropolis text-2xl uppercase justify-end items-center">
        <li>About</li>
        <li>Work</li>
        <li>Playground</li>
        <li>Contact</li>
    </ul>
</nav>
