---
import { Image } from "astro:assets";
import nextArrowIcon from "@assets/arrow.svg";
import ArrowIcon from "./ArrowIcon.astro";

// TODO dont'update img and mask position if for from the target??
// TODO add alt to arrow icon
// TODO change size of arrow icon to 50
// FIXME: when scrolling down and having mouse on the bottom, scroll movess infinitely
---

<div class="relative animation-group w-min mx-auto">
    <div class="relative">
        <div class="cursor-none">
            <div class="font-metropolis text-xl uppercase">Next up</div>
            <div class="text-header__1 flex gap-4 items-center">
                <ArrowIcon class="fill-ruby-red" />
                <div>MIR</div>
            </div>
        </div>
        <div
            aria-hidden="true"
            class="absolute text-lilac top-0 left-0 z-10 pointer-events-none text-mask-handler opacity-animation-target"
        >
            <div class="font-metropolis text-xl uppercase">Next up</div>
            <div class="text-header__1 flex gap-4 items-center">
                <ArrowIcon class="fill-lilac" />
                <div>MIR</div>
            </div>
        </div>
    </div>
    <img
        class="absolute w-[150px] h-[150px] top-0 left-0 object-cover object-center rounded-full pointer-events-none opacity-animation-target js-circle-img"
        src="https://assets.codepen.io/1159990/tokyo-tower.jpg"
        alt="Tokyo Tower"
    />
</div>

<style>
    .text-mask-handler {
        clip-path: circle(75px at var(--x) var(--y));
    }

    .opacity-animation-target {
        opacity: 0;
        transition: opacity 200ms ease;
    }

    .animation-group:hover .opacity-animation-target {
        opacity: 1;
    }
</style>

<script>
    const textMask = document.querySelector(".text-mask-handler") as HTMLElement;
    const cricleImage = document.querySelector(".js-circle-img") as HTMLElement;

    function showImgContent(e: MouseEvent) {
        const textMaskRect = textMask.getBoundingClientRect();

        const mouseX = e.clientX;
        const mouseY = e.clientY;
        const positionX = mouseX - textMaskRect.left;
        const positionY = mouseY - textMaskRect.top;

        cricleImage.style.left = positionX - 75 + "px";
        cricleImage.style.top = positionY - 75 + "px";

        textMask.style.setProperty("--x", positionX + "px");
        textMask.style.setProperty("--y", positionY + "px");
    }

    document.addEventListener("mousemove", showImgContent);
</script>
