---
import { Image } from "astro:assets";
import nextArrowIcon from "@assets/arrow.svg";

---

<div class="relative">
    <!-- <div class="font-metropolis text-xl uppercase -mb-5">Next up</div>
    <div class="flex gap-3">
        <Image src={nextArrowIcon} alt="arrow icon" width={50} />

        <div class="text-header__1 text-white">MIR</div>
        <span class="hover-container">
            <span class="link-text" aria-hidden="true">MIR</span>
            <span class="image-container">
                <span class="image-inner">
                    <img class="link-image" src="https://assets.codepen.io/1159990/tokyo-tower.jpg" alt="Tokyo Tower" />
                </span>
            </span>
        </span>
    </div> -->
    <div class="relative">
            <div class="text-header__1">
                text test
            </div>
            <div class="absolute text-header__1 text-lilac top-0 left-0 z-10 text-mask-handler">
                text test
            </div>
    </div>

     <img class="absolute w-[150px] h-[150px] top-0 left-0 object-cover object-center rounded-full pointer-events-none js-circle-img" src="https://assets.codepen.io/1159990/tokyo-tower.jpg" alt="Tokyo Tower" />
</div>

<style>
    .text-mask-handler {
        clip-path: circle(75px at var(--x) var(--y));
    }
</style>

<script>
    const textMask = document.querySelector(".text-mask-handler") as HTMLElement;
    const cricleImage = document.querySelector(".js-circle-img") as HTMLElement;

    function showImgContent(e: MouseEvent) {
        const textMaskRect = textMask.getBoundingClientRect();

        const mouseX = e.clientX;
        const mouseY = e.clientY;
        const positionX = mouseX - textMaskRect.left;
        const positionY = mouseY - textMaskRect.top;

        cricleImage.style.left = positionX - 75 + 'px';
        cricleImage.style.top = positionY - 75  + 'px';

        textMask.style.setProperty("--x", positionX  + "px");
        textMask.style.setProperty("--y", positionY  + "px");
    }

    document.addEventListener("mousemove", showImgContent);
</script>
