---
interface Props {
    author: string;
}

const { author } = Astro.props;
---

<blockquote class="relative w-1/2 mx-auto mt-10">
    <svg
        class="absolute -translate-y-full -translate-x-full"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
    >
        <path
            d="M14.5049 5.87305C10.5679 8.39305 8.5999 11.4301 8.5999 14.9801C8.5999 16.0851 8.79289 16.6371 9.17689 16.6371L9.57289 16.5301C9.88489 16.4101 10.1359 16.3501 10.3289 16.3501C11.4559 16.3501 12.3989 16.7601 13.1539 17.5801C13.9099 18.4001 14.2879 19.4101 14.2879 20.6161C14.2879 21.7731 13.8779 22.7561 13.0629 23.5631C12.2469 24.3701 11.2629 24.7731 10.1109 24.7731C8.50289 24.7731 7.17589 24.1131 6.13089 22.7901C5.08789 21.4701 4.56689 19.8101 4.56689 17.8131C4.56689 15.5531 5.00889 13.4861 5.89689 11.6101C6.78689 9.73505 8.14089 8.04005 9.96489 6.52505C11.7889 5.01105 12.9529 4.25305 13.4569 4.25305C13.7929 4.25305 14.0689 4.41505 14.2849 4.73905C14.5009 5.06205 14.6089 5.34405 14.6089 5.58405L14.5019 5.87205L14.5049 5.87305ZM27.4649 5.87305C23.5279 8.39305 21.5609 11.4291 21.5609 14.9811C21.5609 16.0861 21.7539 16.6381 22.1379 16.6381L22.5339 16.5311C22.8459 16.4111 23.0969 16.3511 23.2899 16.3511C24.3929 16.3511 25.3299 16.7611 26.0969 17.5811C26.8669 18.4011 27.2489 19.4111 27.2489 20.6171C27.2489 21.7741 26.8389 22.7571 26.0239 23.5641C25.2079 24.371 24.2239 24.7741 23.0719 24.7741C21.4639 24.7741 20.1369 24.1141 19.0919 22.7911C18.0489 21.4711 17.5279 19.8111 17.5279 17.8141C17.5279 15.5301 17.9759 13.4441 18.8779 11.5581C19.7779 9.67105 21.1329 7.98105 22.9449 6.49105C24.7599 5.00005 25.9169 4.25405 26.4199 4.25405C26.7569 4.25405 27.0329 4.41605 27.2499 4.74005C27.4649 5.06405 27.5729 5.34605 27.5729 5.58605L27.4649 5.87305Z"
            fill="#D31D1D"></path>
    </svg>
    <p class="text-paragraph__quote mb-12">
        <slot />
    </p>
    <footer class="text-right font-olympic text-xl">- {author}</footer>
</blockquote>
<!-- <cite>Brave New World</cite> -->
