---
import ArrowIconSmall from "./Icons/ArrowIconSmall.astro";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["absolute bottom-20 left-1/2 z-30 -translate-x-1/2 translate-y-full", className]}>
    <ArrowIconSmall class:list={["w-[25px] animate-bounce fill-ruby-red motion-reduce:animate-none", "lg:w-[35px]"]} />
</div>
