---
import PictureLink from "@components/PictureLink.astro";
import Quote from "@components/Quote.astro";
import LayoutProjects from "@layouts/LayoutProjects.astro";
---

<LayoutProjects title="project | patchwork">
    <Fragment slot="hero-background">
        <img
            src="https://images.unsplash.com/photo-1611073615452-4889cb93422e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="unsplash"
        />
    </Fragment>
    <Fragment slot="services-list">
        <li>Brand identity</li>
        <li>Brand strategy</li>
        <li>Social media design</li>
        <li>Web design</li>
    </Fragment>
    <Fragment slot="project-title">Patchwork</Fragment>
    <Fragment slot="project-description">
        <p>
            Patchwork, an association for immigrant families of people with disabilities, embodies unity in diversity.
            Its name reflects the fusion of diverse experiences into something unique, capturing their serious,
            heartfelt work without unnecessary pathos.
        </p>
        <p>
            The color palette reflects their values - beige signifies equality and harmony, while warm reds and oranges
            emanate fervor and support. Blues represent professionalism, reliability, and unwavering commitment.
            Accessibility was paramount here; the chosen typography ensures maximum readability, available in both Latin
            and Cyrillic characters for effective communication within their diverse community.
        </p>
        <p>
            Patchwork's members spirit, despite facing dramatic challenges like fleeing the war in Ukraine, radiates
            hope and resilience. Patchwork stitches unity and positivity into its vibrant tapestry, a beacon of
            inspiration amidst life's trials.
        </p>
    </Fragment>
    <div slot="main" class="container mx-auto">
        <div class="mb-60 grid grid-cols-6 gap-3 [&>*]:rounded-3xl">
            <img
                class="col-span-2"
                src="https://images.unsplash.com/photo-1625921765718-40e14ee8641c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
            />
            <img
                class="col-span-2"
                src="https://images.unsplash.com/photo-1625921765718-40e14ee8641c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
            />
            <img
                class="col-span-2"
                src="https://images.unsplash.com/photo-1625921765718-40e14ee8641c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
            />
            <img
                class="col-span-3"
                src="https://images.unsplash.com/photo-1625921765718-40e14ee8641c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
            />
            <img
                class="col-span-3"
                src="https://images.unsplash.com/photo-1625921765718-40e14ee8641c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
            />
        </div>
        <div class="mb-60">
            <Quote author="God">Strzeżcie się gniewu mego</Quote>
        </div>
        <div class="mb-60">
            <!-- <PictureLink title="MIR" subTitle="Next up" /> -->
        </div>
    </div>
    <!-- </div> -->
</LayoutProjects>
