@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-hero__1 {
        @apply font-alexang text-[7.5rem] font-normal leading-[8.125rem] -tracking-[0.3rem] 
        sm:text-[8rem] sm:leading-[8.125rem] sm:-tracking-[0.6rem] 
        lg:text-[26.25rem] lg:-tracking-[1.05rem];
    }

    .text-hero__2 {
        @apply font-alexang text-[7.5rem] font-normal leading-[6.25rem]
        sm:text-[15rem] sm:leading-[11.25rem]
        lg:text-[18.75rem] lg:leading-[14.375rem];
    }

    .text-header__1 {
        @apply font-alexang text-[3.125rem] font-medium leading-[4rem] 
        sm:text-[4.375rem] sm:leading-[5.625rem] 
        lg:text-[6.25rem] lg:leading-[8.628rem];
    }

    .text-header__2 {
        @apply font-olympic text-[2rem] font-light leading-[3rem] -tracking-[0.04rem]  
        sm:text-6xl sm:leading-[5rem] sm:-tracking-[0.075rem];
    }

    .text-header__3 {
        @apply font-alexang text-[3.375rem] font-normal leading-[4.375rem]  
        sm:text-[4.375rem] sm:leading-[5.625rem];
    }

    .text-header__4 {
        @apply font-metropolis text-2xl font-normal uppercase leading-10;
    }

    .text-paragraph__normal {
        @apply font-metropolis text-base leading-7 
        sm:text-xl sm:leading-8;
    }
    .text-paragraph__quote {
        @apply font-olympic text-[1.75rem] leading-10;
    }
}
