---
import Navbar from "@components/Navbar/Navbar.astro";
import LayoutBase from "./LayoutBase.astro";
import Footer from "@components/Footer.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";

interface Props {
    title: string;
    withStickyHeader?: boolean;
    titleClass?: string;
    class?: string;
}

const { title, withStickyHeader = false, titleClass, class: className } = Astro.props;
const marginTop = "7vh";
const top = withStickyHeader ? marginTop : "0px";
---

<LayoutBase title={title}>
    <Navbar />
    <div class="grow" class:list={["px-default", className]}>
        <header
            data-header-container
            data-margin-top={marginTop}
            class:list={[
                "font-instrument relative -z-10 whitespace-nowrap text-center text-[min(23vw,250px)] leading-none landscape:min-h-[300px]",
                { sticky: withStickyHeader },
                titleClass
            ]}
        >
            <div>
                <slot name="header" />
            </div>
            <ScrollIndicator />
        </header>
        <main>
            <slot name="content" />
        </main>
    </div>
    {
        Astro.slots.has("link") ? (
            <div class="flex h-svh items-center justify-center">
                <div>
                    <slot name="link" />
                </div>
            </div>
        ) : (
            <div class="h-[30svh]" />
        )
    }
    <Footer />
</LayoutBase>

<style define:vars={{ marginTop, top }}>
    header[data-header-container] {
        margin-top: var(--marginTop);
        top: var(--top);
        height: calc(100svh - var(--navbar-height-xs) - var(--marginTop));
    }

    @media (min-width: 640px) {
        header[data-header-container] {
            height: calc(100svh - var(--navbar-height-sm) - var(--marginTop));
        }
    }

    @media (min-width: 1024px) {
        header[data-header-container] {
            height: calc(100svh - var(--navbar-height-lg) - var(--marginTop));
        }
    }
</style>
