---
import "../main.css";
import "@fontsource/metropolis/500.css";
import "@fontsource/metropolis/400.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="apple-touch-icon" href="/iphone.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/iphone.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/iphonex.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="/ipadpro.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/ipadmini.png" />
        <meta name="generator" content={Astro.generator} />
        <title>Pikne studio | {title}</title>
        <meta name="title" content="Pikne studio | design & illustration" />
        <meta
            name="description"
            content="Emotions-driven Branding & Design - Pikne Studio uses psychology & empathy to craft visual stories that touch hearts & make your mission shine."
        />
        <meta property="og:title" content="Pikne studio | design & illustration" />
        <meta
            property="og:description"
            content="Emotions-driven Branding & Design - Pikne Studio uses psychology & empathy to craft visual stories that touch hearts & make your mission shine."
        />
        <meta
            property="og:image"
            content="https://res.cloudinary.com/dms9kwdfz/image/upload/v1714061917/pikne_studio_card.png"
        />
        <meta property="og:image:width" content="2873" />
        <meta property="og:image:height" content="1627" />
        <meta property="og:url" content="https://pikne.studio" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Pikne studio | design & illustration" />
        <meta
            name="twitter:description"
            content="Emotions-driven Branding & Design - Pikne Studio uses psychology & empathy to craft visual stories that touch hearts & make your mission shine."
        />
        <meta
            name="twitter:image"
            content="https://res.cloudinary.com/dms9kwdfz/image/upload/v1714061917/pikne_studio_card.png"
        />
        <meta name="color-scheme" content="light" />
        <meta name="theme-color" content="#FFF3F2" />
        <slot name="head" />
    </head>
    <body class="flex flex-col bg-light-pink text-ruby-red">
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --navbar-height-xs: 74px;
        --navbar-height-sm: 133px;
        --navbar-height-lg: 155px;
    }

    html {
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: "AlexangDisplay";
        src:
            local("Alexang Display Regular"),
            local("Alexang Display"),
            local("AlexangDisplay"),
            url("/fonts/AlexangDisplay-Regular.woff2") format("woff2"),
            url("/fonts/AlexangDisplay-Regular.woff") format("woff");
        descent-override: 20%;
        ascent-override: 100%;
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "OlympicLight";
        src:
            local("Olympic Light"),
            local("Olympic"),
            url("/fonts/OlympicLight.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
