---
interface Props {
    title: string;
}

const { title } = Astro.props;

import Navbar from "@components/Navbar/Navbar.astro";
import "../main.css";
import Footer from "@components/Footer.astro";
// TODO meta tags
// TODO instead of using smooth scroll to section (np. #contact) only on navlinks, do it for the whole page???
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="text-ruby-red bg-light-pink flex flex-col">
        <Navbar />
        <main class="grow">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse distinctio odio error unde iste provident
            delectus quis itaque. Ducimus consequatur ipsum quos expedita quisquam ullam animi ex pariatur cupiditate
            impedit? Hic adipisci consequuntur iure dolor dicta accusamus quia optio, enim nulla aspernatur similique
            autem vero, praesentium beatae neque facilis? Ipsa, debitis quidem. Consectetur vitae reiciendis voluptate
            eveniet facere sapiente ut? Eos eius mollitia dolor unde nulla natus voluptatibus alias nemo provident sed
            recusandae sunt ad tempora maxime, quasi illum cum enim distinctio neque officia doloribus possimus debitis
            officiis? Ut, voluptatem. Quaerat odit ratione assumenda et, necessitatibus temporibus maiores minus, unde
            in magni a dolore adipisci maxime repellat debitis molestias illo reprehenderit ipsum rerum nisi ex
            voluptatibus doloribus nobis sequi? Vel? Ipsam tenetur minus perferendis non at aliquid, cupiditate amet
            quod ratione delectus? Vitae, nobis repellendus ut quae aspernatur laudantium, magnam ea fugit
            necessitatibus officia consectetur delectus esse tempore minima! Earum? Dolores porro illo deleniti, officia
            molestiae quia maiores ducimus minus laudantium magni aspernatur aperiam id at ut quas unde architecto ad
            qui quis dolore assumenda quos dicta ullam. Natus, deleniti. Velit nihil rem ducimus accusantium
            consequuntur debitis perferendis culpa similique exercitationem. Nesciunt nostrum beatae obcaecati, id iure
            ipsa officia impedit in? Vitae corporis quidem id adipisci non nobis modi sit! Maxime, sed perferendis
            voluptatibus iure aut saepe ullam quo? Porro, veritatis. Quam eius itaque vel ullam, officiis quas deleniti
            dolorem amet soluta, neque veniam nisi harum voluptates rerum voluptate ut! Dolorum velit totam vitae ipsam
            a mollitia magnam recusandae quo! Ex, ipsa neque doloremque voluptatem numquam sapiente omnis voluptatum?
            Enim voluptatem quidem quod libero consequatur. Odit consequatur dolore asperiores adipisci. Obcaecati nisi
            ea recusandae quo vero maxime hic provident ut sunt eligendi dolores commodi quam ipsum saepe exercitationem
            perferendis error, eum perspiciatis architecto natus voluptatibus quos assumenda molestiae corrupti. Optio!
            Ipsam consequuntur tempore voluptates cupiditate nam ratione. Iure vero, corrupti reiciendis odio vitae
            ipsum voluptatem reprehenderit eius dicta omnis culpa accusamus vel ut molestiae, ab minus, esse tenetur
            laudantium perferendis. Laudantium consequatur alias non minus harum unde assumenda hic animi a ab,
            molestias repudiandae nemo? Illum qui doloremque corrupti, consequuntur autem assumenda ad rerum ducimus
            veniam necessitatibus. Asperiores, deleniti provident! Maxime nesciunt quam, cupiditate, neque delectus
            earum, aliquid quo possimus id assumenda labore doloremque numquam. Magni quasi, consectetur esse vel minima
            amet unde recusandae, molestiae laborum consequuntur architecto ad sed. Est ratione aut omnis, nobis ipsa
            enim nostrum labore pariatur iste rem quae quasi dicta amet velit harum. Placeat consequuntur perspiciatis
            minima repellendus sed enim saepe exercitationem inventore, amet esse! Molestias tempora ab assumenda
            maiores saepe at. Aperiam provident pariatur dolor dolore modi velit, repellendus voluptatem vero ex,
            suscipit nisi quaerat delectus architecto ipsum officiis voluptates animi in illum eligendi? Cumque odio
            blanditiis voluptas rem quas consequatur quidem, atque, corrupti possimus incidunt doloribus rerum minus
            tempore doloremque aspernatur reiciendis non? Autem soluta quis nihil officiis minima odit blanditiis fuga
            repudiandae? Rem dolorum eligendi consectetur iure rerum, molestias ullam minima porro, enim, architecto
            fugiat! Repellat accusamus molestias ducimus asperiores itaque consequuntur cum illum, tenetur ipsam maxime
            quas quia reiciendis, similique harum. Consequuntur natus reprehenderit, ratione aut et quae tenetur,
            consectetur excepturi necessitatibus repudiandae repellendus. Excepturi facilis nihil laborum optio ipsam
            esse, earum ab rerum magnam dicta maiores illum eos debitis molestiae. Numquam magnam accusantium dolor
            sapiente reprehenderit quas consectetur aliquam quae iusto tenetur in quod assumenda consequuntur,
            voluptatibus pariatur quos hic voluptatem. Quas impedit placeat sed quasi odio numquam beatae maiores. Quod,
            reiciendis mollitia consequatur accusantium, amet voluptas doloribus recusandae, aspernatur sed illo nobis
            qui nemo obcaecati maiores ea enim. Iure commodi dolor non ducimus. Adipisci quae eos nam labore aliquam!
            Labore maiores excepturi tempora qui omnis iure impedit doloribus dignissimos rem cumque, suscipit quidem
            consectetur. Voluptatum laudantium consequuntur beatae animi? Consectetur architecto veritatis quas dolorum
            officia vero ullam eos fugiat. Ipsam maxime sit quam corrupti amet laborum cumque dicta fugiat, officia
            similique tempora atque beatae nostrum enim accusantium nulla natus nihil voluptatum officiis obcaecati eos
            sunt rem? At, nesciunt accusantium. Reprehenderit beatae excepturi molestias nesciunt reiciendis quod atque
            provident quo quia id rerum, nostrum repellat odit. Quo fugit tempora, architecto dignissimos fugiat
            officia, sequi eum quidem nulla culpa adipisci. Quisquam? Nemo quibusdam veniam vitae dolores debitis, aut
            possimus aliquid mollitia tempora sapiente commodi, hic iusto. Pariatur cumque aspernatur maiores deleniti
            facere beatae rem rerum doloribus possimus sapiente, deserunt cum voluptates? Labore dignissimos tempora
            dicta fugit, at, velit doloremque eveniet natus minima et animi delectus? Ut eos voluptatibus optio quam,
            laborum quae rerum suscipit nisi labore iste, tempora atque, officiis doloremque? Odio vero suscipit minus
            vitae qui, mollitia repellat atque quibusdam cupiditate quam animi amet nihil sapiente. Rerum impedit optio
            maxime, reprehenderit dignissimos voluptatem earum neque accusantium aliquam fugit minima tenetur?
            Laudantium deleniti harum quas non repudiandae. Cum esse praesentium suscipit dolor vel sunt, deleniti
            veritatis impedit nam error voluptate sed fugit eum quos animi perferendis, asperiores enim harum officia!
            Sit? Fugit doloribus aperiam maxime explicabo ratione, voluptate cupiditate? Eum cupiditate amet, cumque
            expedita exercitationem perferendis, ut nostrum reprehenderit necessitatibus ex quia, nam eveniet similique
            totam itaque quod id molestias quos? Earum numquam facilis laboriosam facere aperiam totam ducimus, qui fuga
            aliquid ratione fugiat quo nam odit suscipit, sed nostrum aliquam accusamus libero. Officiis excepturi
            molestiae temporibus, architecto quam mollitia omnis. Enim corporis saepe, soluta aspernatur atque ad beatae
            quas. Distinctio pariatur ducimus nobis neque officia veritatis similique accusamus excepturi! Dignissimos,
            voluptatem nisi quisquam ducimus culpa fugiat molestiae totam illo reiciendis. Laboriosam rem velit maxime
            unde possimus officia veniam illo, iure temporibus animi inventore magnam ab quibusdam. In vero eos, totam
            fuga dignissimos quae, cumque natus sapiente voluptatem aperiam iure laboriosam? Fugiat, quis soluta?
            Perspiciatis, obcaecati, neque possimus, iusto officia nulla vel ad non doloremque cum recusandae! Illum
            maiores alias voluptates quibusdam, rerum provident ut esse accusantium excepturi, in quidem est?
            Reprehenderit, porro minus perspiciatis laborum cupiditate quae provident dolor expedita quis magni ab
            tempore similique iure. Assumenda, deleniti nisi. A distinctio reiciendis tenetur maxime deserunt
            exercitationem soluta tempora non ducimus. Tempore temporibus incidunt velit cum nostrum eveniet minus unde
            illo. Sequi dolores beatae ullam ipsum. Modi nostrum distinctio accusamus, amet pariatur harum impedit rem
            sunt voluptatem rerum? Quaerat, sapiente ipsa! Molestiae vel id, autem distinctio itaque unde provident rem
            commodi modi quaerat maxime minus facilis soluta minima placeat quidem deserunt voluptates quisquam non
            fugit obcaecati. Laboriosam sint magnam quae provident. Tempore enim facere harum, maxime voluptatibus
            voluptatem optio corrupti! Possimus illum cum neque perferendis quibusdam dolores, voluptatum voluptate
            consequatur veniam cumque debitis hic natus asperiores accusantium aperiam sit voluptates fugiat. Dolor
            minus vitae asperiores porro unde perferendis quis tenetur minima. Quod cupiditate inventore ratione modi
            illo eligendi earum necessitatibus impedit temporibus. Ipsam dolorem ratione obcaecati pariatur aliquid enim
            maxime similique. Quae quo provident voluptatum? Neque, blanditiis? Eos nisi dolore facilis similique veniam
            in qui totam quas rem quasi reiciendis eum eveniet, odit error ab labore ratione aspernatur fugit quod!
            Minima! Consectetur similique, vel voluptas, doloremque qui neque ea laborum molestiae cumque quibusdam hic
            impedit animi, iste esse temporibus. Possimus non delectus molestias fuga culpa ea dolorum molestiae atque
            dicta natus. Libero dolorem fugit quaerat hic doloremque. Eaque assumenda neque harum possimus totam
            provident at inventore esse corrupti, accusantium officiis odit minus illum ea, repellendus, porro
            perspiciatis saepe dicta quisquam est. Recusandae rem commodi debitis ab porro qui harum, praesentium modi
            nesciunt fugit quibusdam atque officia dignissimos quidem iure vel? Voluptatibus atque cumque velit maxime
            delectus temporibus, libero expedita ex tempora? Libero asperiores iusto voluptate! Nobis fugit corporis a
            facilis amet nulla et accusamus quis, id eius iusto! Perspiciatis quae quia, impedit aperiam sed distinctio
            sint. Culpa repellat nemo ipsam laudantium? Laudantium doloribus repudiandae ullam nam dicta minima modi
            ipsa minus eveniet, nobis corrupti repellat provident ipsam facere consectetur quam praesentium ut a, nihil
            ab sint eligendi eaque dolor fugiat. Sapiente? At esse dolorum quia error expedita excepturi aperiam illo
            explicabo omnis in placeat aliquam totam veniam, corrupti beatae tenetur. Quo sed saepe nisi aspernatur,
            animi reiciendis mollitia blanditiis error corporis? Dicta aperiam neque, illo enim animi quo tempora
            cupiditate consequatur aliquam, illum alias maiores necessitatibus pariatur recusandae dolorem incidunt
            sapiente rem. Sequi velit a maiores, possimus magni quae consequuntur minus? Corporis ipsa deserunt quasi ad
            excepturi reprehenderit incidunt, ratione eum, sapiente fugit ea ex perspiciatis! Eveniet, inventore!
            Nesciunt expedita commodi id possimus optio, consequuntur corrupti, ab soluta ipsam doloribus quibusdam!
            Soluta tenetur nostrum fugiat ipsa alias quibusdam minima, asperiores consequuntur dolore officia rerum
            mollitia eligendi tempore laudantium repellat ullam tempora nobis, sunt molestiae dignissimos pariatur! Quod
            aliquid voluptatem dolorum quaerat. Maiores beatae tenetur, quisquam quod aliquid itaque voluptatibus,
            distinctio libero nisi ut nemo odit reiciendis enim optio error temporibus quis maxime dolores laboriosam.
            Nihil perferendis necessitatibus esse itaque accusamus cupiditate! Aliquid alias et beatae maiores odio.
            Totam hic quaerat in, quisquam ut consequatur libero eligendi unde esse nam. Perferendis libero omnis sit
            corrupti non expedita necessitatibus consequuntur velit. Voluptatum, repellat? Sed asperiores qui delectus
            fugiat similique earum, molestiae dolore quos officia. Maxime, obcaecati reprehenderit, corporis quaerat
            aliquid quidem quisquam illum, amet vero commodi qui aspernatur molestiae architecto sed perspiciatis quas.
            Itaque odit expedita vero, quos nisi quis aspernatur nulla saepe sunt nesciunt! Nesciunt, laboriosam
            aspernatur incidunt qui magni culpa, rem at cum ipsum neque nulla cupiditate dolorem obcaecati adipisci
            tempore? Cumque ducimus laboriosam necessitatibus nesciunt accusantium distinctio pariatur obcaecati aut
            odit eum. Qui libero eos fugiat! Corporis placeat, numquam voluptatibus laboriosam eligendi culpa quo eius
            iusto quos perferendis distinctio nihil! Repellendus voluptas corporis, sequi provident suscipit a
            distinctio esse expedita voluptatibus dolor. Excepturi incidunt sapiente deleniti rerum. Eaque tempore, eum
            quisquam, sed natus architecto voluptate pariatur iusto asperiores vel quasi. Enim eum veritatis aspernatur
            libero tempora nulla architecto nostrum alias est ratione. Veniam laborum dignissimos in, dolorum nemo
            reiciendis maxime aliquam assumenda quidem laudantium, eius similique quas, sint eum? Facere! Quasi iste
            reprehenderit fugiat dolor, itaque id sapiente cupiditate perferendis neque! Ipsam, consectetur sequi?
            Accusamus dolorem repudiandae alias ut tempore. Laboriosam placeat iure magnam nam molestiae accusantium
            facilis incidunt odio! Eligendi quia nulla esse sequi debitis maxime vitae eum! Expedita eligendi ullam quis
            iusto fuga mollitia iste earum laudantium dolores aliquam aliquid ut deserunt eius pariatur labore nobis,
            corporis dignissimos. Iure, placeat vel sit similique aperiam dignissimos, doloremque consequatur minima
            tempore laboriosam rem, ullam deserunt. Repellat perferendis eveniet aliquid libero aperiam aspernatur quam
            itaque, qui dolorem officiis nisi quos officia. Aperiam, doloribus numquam libero tenetur ipsum ex,
            molestiae adipisci, voluptates laudantium labore nam! Atque perspiciatis officia enim laboriosam beatae
            eveniet commodi? Iure, eum minus repudiandae placeat libero saepe maiores corporis? Assumenda recusandae
            libero nihil eum magnam nulla, ad dolores velit tempore optio corporis neque dolorum. Quaerat possimus porro
            consequatur doloremque, molestias fugiat fuga beatae? Enim ipsa fuga reprehenderit totam corrupti? Quam quo
            inventore voluptate laboriosam nobis. Facere vitae dolore numquam voluptas sapiente ut molestiae suscipit?
            Voluptatibus dicta accusantium eligendi maiores est ratione eveniet quas magnam mollitia, libero, repellat,
            ducimus beatae? Natus sit ullam consequuntur expedita dolorem officiis accusantium explicabo ab? Commodi
            doloremque accusantium quasi, velit unde, autem quod odit quam debitis blanditiis perferendis nemo ipsum
            eius, officia neque labore reprehenderit? Totam laudantium repellat, saepe ratione aspernatur id quisquam ut
            sapiente maxime, necessitatibus laborum iusto dicta facilis hic perferendis magni nam quos nisi dolore
            voluptates veritatis corrupti fugiat mollitia. Consectetur, harum? Fugit quibusdam expedita inventore
            voluptatem! Placeat nihil, nemo veritatis explicabo repellendus commodi aliquam facere consequuntur nesciunt
            sapiente, rerum quo voluptates, eveniet voluptas modi consectetur omnis? Ullam, voluptas quaerat! Ex,
            cumque. Temporibus beatae, possimus eligendi libero rem corporis eum culpa soluta, adipisci nam eaque, natus
            ut eos mollitia sit quo necessitatibus fugiat! Pariatur dolores sunt quas quos velit quam ea doloremque.
            Error corporis dolores deserunt placeat. Alias rem recusandae suscipit nobis obcaecati impedit ab
            repudiandae veritatis nulla praesentium iusto nam, deleniti nihil ut ullam quibusdam at molestias excepturi
            harum amet facilis. Modi possimus debitis cum cumque libero id voluptas sequi rem nulla provident dolorum
            perferendis, architecto facilis magnam quos minima. Sunt harum ad enim veniam quibusdam officia, ducimus qui
            distinctio molestias. Soluta incidunt dolorem aliquam officiis? Adipisci reiciendis illo explicabo
            exercitationem iusto, recusandae omnis reprehenderit officiis a. Possimus ducimus sint voluptatum aliquam!
            Eveniet dicta molestiae accusantium labore rem culpa unde officia? Cum doloremque dolorem ad incidunt vitae
            sequi unde dicta, distinctio fugit alias aperiam ea non inventore iure pariatur, nostrum quae. Debitis eaque
            eligendi neque rerum, sapiente amet aliquam inventore ducimus. Facilis voluptas est sint aperiam soluta quam
            libero suscipit sequi ullam. Fugit alias pariatur dicta placeat assumenda facere sapiente iusto, doloribus
            ratione modi dolorem magnam autem sint. Praesentium, magnam itaque. Quae officia itaque sed, esse atque
            consequuntur rem ducimus dicta magni omnis debitis non minima illo similique, voluptate aspernatur possimus
            ut quo ipsum maxime iste perspiciatis. Quod ipsam nam sunt. Repudiandae fugiat temporibus sint asperiores
            laboriosam quos, enim quod accusamus, vitae sapiente quibusdam nulla! Dolor earum, quo amet, perferendis non
            laudantium tempore magni harum magnam hic fugiat. Qui, hic aperiam. Neque at perspiciatis dignissimos
            nesciunt corrupti iusto alias architecto, rerum veniam qui accusantium, eligendi atque consequatur nobis
            quas omnis ipsam fuga odit sed eos doloribus accusamus libero. Officia, obcaecati quia? Accusantium, hic,
            maiores exercitationem fuga totam eum dolorem ex, ipsa iure distinctio magni. Mollitia odio culpa illum
            itaque. Obcaecati eaque hic debitis facere in velit ducimus error perspiciatis, ullam harum. Adipisci, animi
            nam nostrum tenetur, temporibus officia, odit dignissimos iure quasi consequuntur quod reprehenderit
            repudiandae magnam exercitationem ab quo ullam ut consequatur omnis eum in officiis. Id eaque asperiores
            debitis? Blanditiis ut culpa omnis iure accusantium quaerat natus temporibus consectetur eius officiis rem,
            amet praesentium labore odit accusamus delectus architecto hic illum recusandae ducimus nulla sed distinctio
            totam. Odio, nam? Possimus beatae iusto laboriosam atque numquam nobis repudiandae excepturi temporibus ipsa
            repellat recusandae alias suscipit maiores optio dolores officia harum nostrum ex, esse, aut sint amet,
            voluptates deleniti! Iure, corrupti! Tenetur praesentium facere animi obcaecati, sit distinctio dolor ipsam
            reprehenderit veniam esse vel laudantium vitae voluptatum soluta amet officia, nostrum suscipit ut labore
            rem, doloribus iste dignissimos culpa. A, esse! Nostrum consequatur eius soluta eaque perspiciatis. Magni
            modi nihil quisquam impedit minima. Hic, modi vero? Harum, cupiditate? Alias, ullam eos quidem quas modi
            quos perspiciatis quibusdam corrupti, vitae nostrum ipsa! Accusamus exercitationem, laboriosam, dolores
            deserunt inventore ipsa voluptatum neque nostrum rerum voluptate molestias, voluptatem dolorem ad officiis
            doloremque. Corporis eum sit quo! Quae accusamus fugiat modi cum deserunt optio sit! Sequi qui eius, minus
            eaque at quam! Unde dignissimos amet deserunt esse laborum natus deleniti libero nostrum placeat culpa
            consectetur aperiam hic, perspiciatis odit porro ipsam modi ex asperiores laboriosam. Dolor voluptate est
            voluptas eum! Illum, corporis ducimus, saepe quis eveniet, maiores magnam distinctio debitis omnis mollitia
            aut veritatis. Amet illum maxime minima dolore iusto distinctio soluta, libero expedita cum. Nihil
            consequuntur iste impedit sint enim qui minima quis! Labore tempora quisquam magni sunt, perspiciatis non
            vero aliquid! Animi sequi quibusdam aspernatur blanditiis non quae impedit neque ratione in hic. Vel, animi
            sint ab ex a esse. Iste ipsam, officiis ullam, possimus soluta illum aliquam atque nihil in, nobis accusamus
            adipisci. Eveniet sunt dolorum ad similique unde! Inventore, beatae molestiae. Odio laborum, aperiam eius
            repudiandae molestias explicabo unde vel dolore voluptatum, cum earum quaerat, ipsam obcaecati velit libero?
            Nobis obcaecati porro voluptatem provident praesentium molestiae voluptatibus maxime. Temporibus, sit modi?
            Quasi alias nesciunt ad omnis ipsum deleniti rem a nostrum, vitae, distinctio, accusantium reiciendis.
            Dolorem eius cumque, consectetur officiis, quasi corporis vero ut odio assumenda aperiam expedita.
            Doloribus, possimus minus! Magnam ea nisi velit quisquam quidem ratione mollitia aliquid earum neque
            voluptatem cumque vel suscipit, corporis cum porro excepturi beatae architecto id, blanditiis tempora aut
            vero. Autem suscipit architecto sed? Dicta illum minima aut eaque? Earum, praesentium magnam quas
            reprehenderit officia nulla dignissimos natus aut iure minus ducimus corporis sequi est neque repellendus
            doloremque illum suscipit, ex distinctio. Nihil, eveniet? Quasi libero nesciunt natus repellat! Repudiandae
            eveniet in eius eum soluta! Tempora quae quo illo? Temporibus, doloribus ipsa ducimus minus dolor eaque
            dignissimos veritatis facere, quis molestias a nobis nemo. Recusandae magnam atque perferendis fugit ullam
            obcaecati enim id expedita molestias, doloremque quae sequi fugiat neque distinctio animi sapiente minima
            aut omnis corrupti non? Illum molestias sapiente quisquam suscipit itaque! Rem perspiciatis tenetur
            corrupti, officia iusto alias repudiandae sunt ratione nisi modi molestias iste illum, soluta aliquam autem
            quidem eaque exercitationem minus quis nam blanditiis eum id velit. Corrupti, est? Eos quisquam sed dolore
            necessitatibus optio reiciendis soluta totam pariatur corporis maxime quo eveniet provident cum dolorem
            suscipit illum enim asperiores, quod illo. Necessitatibus quam odit, itaque molestiae libero facilis!
            Deserunt natus rem officia commodi doloremque tenetur amet tempora non veniam qui, expedita et
            necessitatibus officiis ipsa quasi voluptatum eos nisi sed nam dolore blanditiis laborum assumenda id?
            Commodi, exercitationem. Facilis assumenda ea quasi iure amet odio, consequuntur explicabo quis eaque
            delectus? Consequatur odio ad id tenetur incidunt at aspernatur aliquam rerum debitis eveniet! Explicabo
            error voluptate dolorum aspernatur accusantium. Aut facilis dolor id corrupti iure nisi repellendus at
            impedit porro consequuntur repudiandae cumque, perspiciatis ea atque commodi? Amet fugiat maiores rem
            consequuntur magnam ipsum odit, nemo illum distinctio delectus. Quasi eligendi id modi earum corrupti
            distinctio? Provident suscipit, eos laudantium, adipisci unde autem nulla molestiae consectetur eum et
            dolorem. Labore fuga rerum sed esse omnis excepturi quas, vel officiis! Nisi labore voluptatum a aut enim
            maiores sed. Saepe eos excepturi et autem fuga id quo quasi a ullam molestiae? Doloremque quibusdam soluta
            consequatur, expedita illum quam aperiam et in. Quisquam eligendi labore molestiae laudantium reiciendis
            distinctio, magnam officia architecto! Magnam quidem provident, debitis unde repellendus porro neque maiores
            eaque assumenda accusantium nisi magni natus quod in voluptas. Voluptatum, laborum? Error nostrum
            consequatur corrupti? Magnam, veniam. Esse obcaecati nostrum, ducimus aliquam ipsam alias iusto voluptates,
            a itaque eligendi aut, sapiente consequuntur? Dicta, ipsum. Ipsam commodi ratione et aperiam modi
            praesentium. Aliquid error maiores repudiandae velit tempore quis veritatis exercitationem vel, assumenda
            rerum doloribus ea at harum voluptatibus non nobis tenetur sed iusto quos impedit. Delectus officia
            voluptate necessitatibus unde neque! Sed facere exercitationem illum tempora excepturi vero explicabo
            placeat commodi at. Qui ducimus sapiente soluta dolorum similique! Molestias dolores corrupti odit illum
            praesentium. Rerum commodi harum distinctio, esse non molestias!
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "AlexangDisplay";
        src: url("/fonts/AlexangDisplay.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "OlympicLight";
        src: url("/fonts/OlympicLight.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
