---
interface Props {
    title: string;
}

const { title } = Astro.props;

import Navbar from "@components/Navbar/Navbar.astro";
import "../main.css";
import Footer from "@components/Footer.astro";
import "@fontsource/metropolis/500.css";
import "@fontsource/metropolis/400.css";

// TODO meta tags
// TODO instead of using smooth scroll to section (np. #contact) only on navlinks, do it for the whole page???
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="text-ruby-red bg-light-pink flex flex-col">
        <Navbar />
        <main class="grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "AlexangDisplay";
        src: url("/fonts/AlexangDisplay.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "OlympicLight";
        src: url("/fonts/OlympicLight.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
