---
export type AnimationPathType = Array<[number, number] | string>;

interface Props {
    "data-animation-path": AnimationPathType;
}

const props = {
    ...Astro.props,
    "data-animation-path": JSON.stringify(Astro.props["data-animation-path"])
};
---

<div {...props}>
    <slot />
</div>
