---
export type TranslationPathType = Array<[number, number]>;
export type RotationPathType = Array<number>;

interface Props {
    "data-translation-path"?: TranslationPathType;
    "data-rotation-path"?: RotationPathType;
}

const props = {
    ...Astro.props,
    "data-translation-path": JSON.stringify(Astro.props["data-translation-path"]),
    "data-rotation-path": JSON.stringify(Astro.props["data-rotation-path"])
};
---

<div {...props}>
    <slot />
</div>
