---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div data-scroll-animation-container class:list={["h-screen", className]}>
    <div data-imgs-container class="relative [&>*]:absolute">
        <slot name="images" />
    </div>
</div>
